.card-content {
  width: 100%;
  padding: 0.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card-image { 
  display: flex;
  justify-content: center;;
  padding: 1.2rem;
  padding-bottom: 1.8rem;
  background-color: #DCDCDD;
  margin-bottom: 0.8rem;
  position: relative;
}

.favorite {
  position: absolute;
  width: 15%;
  right: 0.4rem;
  bottom: 0.4rem;
  z-index: 1;
}